:root {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: cornsilk;
}

.App {
  text-align: center;
  height: calc(100% - .8rem);
  padding: .4rem;
  overflow: hidden;
  background-color: #222;
  color: lightsalmon;
}

h1 {
  color: darkorchid;
  font-size: 1.6rem;
  margin: .5rem 0;
  padding: 0;
}

label {
  display: block;
}

.pick-word-form {
  text-align: left;
  padding-left: 1rem;
}

.pick-word-form input[type="number"] {
  width: 5rem;
}

.pick-word-form button {
  margin: 1.5rem 0;
  display: block;
}
